.hamburger-box {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
}
.black-background{
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  background-color: black;
  z-index: 1;
  opacity: .5;
}
.bar {
  height: 5px;
  width: 30px;
  background-color: white;
  border-radius: 20px;
}
.focused-bar{
  background-color: white;
}
.non-bar {
  height: 5px;
  width: 30px;
  background-color: steelblue;
}

.hamb-pop-out{
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
  height: calc(100vh - 50px);
}
.popped-out-menu {
  width: 150px;
  animation-name: pop-out;
  animation-duration: .5s;
}
.popped-in-menu {
  animation-name: pop-in;
  animation-duration: .5s;
}

@keyframes pop-out {
    0%{
      width: 0
    }
    100% {
      width: 150px;
    }
}

@keyframes pop-in {
  0% {
    width: 150px;
  }
  100% {
    width: 0;
  }
}
